<!DOCTYPE html>
<html>
    <head>
        <body>
            <main>
                <div>
                    <h1>{{ list.name }}</h1>
                    <h2>Task</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Due date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo_item in todo_list.items.all %}
                            <tr>
                                <td>{{ item.task }}</td>
                                <td>{{ item.due_date|date:"F j, Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </body>
    </head>
</html>
